
.st-key-Assertive button {
    background-color: #F08080;
    color: #2F4F4F;
}

.st-key-Confident button {
    background-color: #F08080;
    color: #2F4F4F;
}

.st-key-Excited button {
    background-color: #F08080;
    color: #2F4F4F;
}

.st-key-Enthusiastic button {
    background-color: #FBCEB1;
    color: #2F4F4F;
}

.st-key-Cheerful button {
    background-color: #FFFACD;
    color: #2F4F4F;
}

.st-key-Energetic button {
    background-color: #FFFACD;
    color: #2F4F4F;
}

.st-key-Optimistic button {
    background-color: #FFFACD;
    color: #2F4F4F;
}

.st-key-Determined button {
    background-color: #D0F0C0;
    color: #2F4F4F;
}

.st-key-Productive button {
    background-color: #D0F0C0;
    color: #2F4F4F;
}

.st-key-Calm button {
    background-color: #7C9ED9;
    color: #2F4F4F;
}

.st-key-Peaceful button {
    background-color: #7C9ED9;
    color: #2F4F4F;
}

.st-key-Trusting button {
    background-color: #CCCCFF;
    color: #2F4F4F;
}

.st-key-Agitated button {
    background-color: #F08080;
    color: #2F4F4F;
}

.st-key-Frustrated button {
    background-color: #F08080;
    color: #2F4F4F;
}

.st-key-Masking button {
    background-color: #FBCEB1;
    color: #2F4F4F;
}

.st-key-Self-Loathing button {
    background-color: #FBCEB1;
    color: #2F4F4F;
}

.st-key-Happy button {
    background-color: #FFFACD;
    color: #2F4F4F;
}

.st-key-Impulsive button {
    background-color: #FFFACD;
    color: #2F4F4F;
}

.st-key-Nervous button {
    background-color: #FFFACD;
    color: #2F4F4F;
}

.st-key-Restless button {
    background-color: #FFFACD;
    color: #2F4F4F;
}

.st-key-Careless button {
    background-color: #D0F0C0;
    color: #2F4F4F;
}

.st-key-Envious button {
    background-color: #D0F0C0;
    color: #2F4F4F;
}

.st-key-Stubborn button {
    background-color: #D0F0C0;
    color: #2F4F4F;
}

.st-key-Introverted button {
    background-color: #7C9ED9;
    color: #2F4F4F;
}

.st-key-Lethargic button {
    background-color: #7C9ED9;
    color: #2F4F4F;
}

.st-key-Lonely button {
    background-color: #7C9ED9;
    color: #2F4F4F;
}

.st-key-Sad button {
    background-color: #7C9ED9;
    color: #2F4F4F;
}

.st-key-Indecisive button {
    background-color: #CCCCFF;
    color: #2F4F4F;
}

.st-key-Overwhelmed button {
    background-color: #CCCCFF;
    color: #2F4F4F;
}
